.person{
  width: 60%;
  margin: auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  margin: 20px;
  text-align: center;
}
.input{
  width: 60%;
  border: 1px solid #ccc;
  height: 30px;
}
